# Supabase Configuration
VITE_SUPABASE_URL=https://guhhfjtbybhjolnnwijy.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_TyNFLrH-6NF1vokEpLt_Hg_cXs1I46c

# Admin Credentials
VITE_ADMIN_EMAIL=bass123@gmail.com
VITE_ADMIN_PASSWORD=passer123
